<div class="round old_problem">
  <div class="click_title"><%= problem.title %> in <%= problem.language %></div>
  <div class="description">
    <%= problem.description %>
    <br>
    <% if problem.current_problem %>
      <%= link_to "See problem", problem %>
    <% else %>
      <%= link_to "See solutions", problem %>
    <% end %>
  </div>
</div>