<div class="container">
  <%= render :partial => 'layouts/intro'%>

  <div id="problems">

    <% if !@current_problems.empty? %>
      <table class="course_table">
      <% @current_problems.reverse_each do |problem| %>
        <% x = rand(3) %>
        <tr>
        <% x.times do |i| %>
          <td></td>
        <% end %>
        <td class="golf_flag">
          <%= image_tag "custom_flag.png", :height => '150' %>
        </td>
        </tr>
        <tr>
        <% x.times do |i| %>
          <td></td>
        <% end %>
        <td>
          <%= render :partial => 'problem', :locals => { :problem => problem } %>
        </td>
        </tr>
        <tr></tr>
      <% end %>
      </table>
    <% end %>
    
    <% if !@old_problems.empty? %>
      <table class="course_table">
      <% @old_problems.reverse_each do |problem| %>
        <% x = rand(3) %>
        <tr>
        <% x.times do |i| %>
          <td></td>
        <% end %>
        <td class="golf_flag">
          <%= image_tag "custom_flag.png", :height => '150' %>
        </td>
        </tr>
        <tr>
        <% x.times do |i| %>
          <td></td>
        <% end %>
        <td class="prob">
          <%= render :partial => 'problem', :locals => { :problem => problem } %>
        </td>
        </tr>
        <tr></tr>
      <% end %>
      </table>
    <% end %>
    
    <% if !current_user.nil? && current_user.admin? %>
      <div class="round button"><%= link_to 'New Problem', new_problem_path %></div>
    <% end %>

  </div>
</div>
