<section id="problembody">
  <%= render :partial => 'problem_full', :locals => { :problem => @problem } %>
</section>

<div class="title">Sample Output</div>
<code>
  <pre id="sample_output" class="box"><%= @problem.sample_output %></pre>
</code>

<% if @problem.current_problem? %>
  <div class="title">Submit a solution</div>
  <problem class="submission newsubmission">
    <% if user_signed_in? %>
      <div class="round box light">
        <%= render :partial => 'submissions/form'%>
      </div>
    <% end %>
  </problem>
<% end %>

<% if !current_user.nil? && current_user.admin? && @problem.current_problem? %>
  <dive class="button">
    <%= link_to "Close Problem", close_problem_path(@problem), :method => :put %>
  </div>
<% end %>

<div class="title">Submitted solutions</div>
  <% @submissions.each do |submission| %>
    <%= render :partial => 'submissions/submission', :object => submission %>
  <% end %>
 </div>

<% if !current_user.nil? && current_user.admin? %>
  <%= link_to 'Edit', edit_problem_path(@problem) %>
<% end %>
